.ageVerification {
  font-size: 16px;
  color: #333;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  font-family: "Lato", sans-serif;
}

.description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-color);
}

.title {
  text-align: center;
}

.selectContainer {
  margin-block-end: 24px;
}

.warningMessage {
  font-size: 14px;
  color: red;
  margin-top: 8px;
  font-weight: 500;
}

.errorMessage {
  font-size: 14px;
  color: red;
}

.loadingText {
  font-size: 14px;
  color: var(--primary-color);
  margin-top: 8px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .ageVerification {
    padding: 24px;
  }
  .description {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .ageVerification {
    font-size: 18px;
    padding: 40px;
    width: 90%;
    margin: 0 auto;
  }

  /* .description {
    font-size: 20px;
    line-height: 28px;
  } */

  .title {
    margin-block-end: 12px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
}

@media (min-width: 1200px) {
  .ageVerification {
    font-size: 24px;
    padding: 24px;
    width: 80%;
    margin: 0 auto;
  }

  .title {
    margin-block-end: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: left;
  }
}
