/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #565d6dff;
  /* --primary-color-alt:  */
  --secondary-color: #2677b2ff;
  --bg-white: #ffffff;
  --background-color: #f9fafb;
  --text-color: #171a1fff;
  --text-color-white: #ffffff;
  --btn-color: #2677b2ff;
  --btn-color-hover: #1e5f91ff;
  --btn-color-hover-alt: #1e608fff;
  --border-color: #e5e7eb;
  --hover-color: #e0e7ff;
}
body {
  /* font-family: "Inter", sans-serif; */
  font-family: "Lato", sans-serif;
  background-color: var(--bg-white);
  color: var(--text-color);
  /* line-height: 1.6; */
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
